body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100%;
}

#home {
  padding: 0px 0px 16px 0px;
}

.section {
  padding: 5px 16px 16px 16px;
}

.topnav ul,
.alt-list {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.alt-list li {
  padding: 10px;
}

i {
  padding-right: 5px;
}

nav h1 {
  color: #ffffff;
  padding-left: 20px;
}

ul {
  margin: 0;
}

.topnav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  overflow: hidden;
  background-color: #9575cd;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #aa90d7;
  color: black;
}

.topnav a.active {
  background-color: #68518f;
  color: white;
}

.alt-list li:nth-child(odd) {
  background-color: #eee;
}

#pic {
  position: absolute;
  right: 20px;
  top: 10px;
  height: 100px;
  width: 90px;
  border-radius: 100px;
  border-width: 1px;
  transition: transform 0.5s;
  z-index: 999;
}

#pic:hover {
  transform: scale(1.4);
  border-radius: 0px;
}

@media (max-width: 480px) {
  #pic {
    display: none;
  }
}

a,
u {
  text-decoration: none;
}
