#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-wrap: wrap;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  color: #000;
  transition: box-shadow 0.3s;
  border-radius: 10px;
}

.social:hover {
  box-shadow: 0 0 22px rgba(33, 33, 33, 0.2);
}

.p-r {
  min-width: 50px;
  padding-top: 10px;
}

.p-r1 {
  min-width: 40px;
  margin-left: 10px;
}

h2 {
  margin: 0;
  padding-bottom: 10px;
}

@media (max-width: 600px) {
  #contact-pic {
    display: none;
  }
}
