#about {
  padding: 20px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

#root {
  background-image: url("../images/hobbies.webp");
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100vh;
}

#info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

#hobbies-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
